# Crear archivo .env en la raíz del proyecto con las siguientes variables de entorno

# Configuración de la base de datos
# 2 opciones: DOCKER o LOCAL (MySQL instalado en tu máquina)
DB_NAME=lastdiscover        # Nombre de la base de datos DOCKER
DB_NAME=lastdiscover_local  # Nombre de la base de datos LOCAL

USER_DB=appuser             # Usuario de la base de datos, común a ambas opciones
PASSWORD_DB=password        # Contraseña del usuario, común a ambas opciones

DB_ROOT_PASSWORD=           # Contraseña root de MySQL DOCKER

HOST=127.0.0.1              # Host de la base de datos, común a ambas opciones
DB_DIALECT=mysql            # Dialecto de la base de datos, común a ambas opciones

DB_PORT=3307                # Puerto de MySQL DOCKER
DB_PORT=3306                # Puerto de MySQL LOCAL

# Configuración del servidor de la app
APP_PORT=4000               # Puerto en el que corre el servidor, común a ambas opciones

# Claves de Cloudinary (servicio para subir imágenes)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Jason Web Token secret (para autenticación)
JWT_SECRET=

# Instrucciones:
# EN LOCAL. Si usas MySQL local sin Docker, crear la base de datos:
#      CREATE DATABASE lastdiscover_local;
#      CREATE USER 'appuser'@'%' IDENTIFIED BY 'password';
#      GRANT ALL PRIVILEGES ON lastdiscover_local.* TO 'appuser'@'%';
#      FLUSH PRIVILEGES;

# DOCKER. Si usas Docker, no necesitas crear usuario ni DB, se generan automáticamente con docker-compose.
#  Para iniciar la app con Docker: docker-compose up
#    - Para verificar que los contendores están corriendo: docker ps
#    - Para inspeccionar la DB desde la terminal:
#      docker exec -it lastdiscover mysql -uappuser -ppassword lastdiscover
#               show databases;
#               use lastdiscover;
#               show tables;
#               describe users;
#               describe posts;
#               exit;

# AMBAS OPCIONES. Ejecuta las migraciones con Sequelize CLI y luego los seeders:
#      npx sequelize-cli db:migrate
#      npx sequelize-cli db:seed:all

# * Para deshacer todas las migraciones: npx sequelize-cli db:migrate:undo:all
# * Para deshacer todos los seeders: npx sequelize-cli db:seed:undo:all